@import 'fonts';
@import 'variables';
*{
	box-sizing: border-box;
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Arial';
}
p{
	font: 400 14px 'Arial';
}

.wrapper{
	max-width: 1300px;
	margin: 0 auto;
	background-color: #e4e1e7;
}


// HEADER START

.header{
	height: 70px;
	background: linear-gradient(to bottom, #373e49 0%,#262e36 100%);
	.container_head{
		height: inherit;
		max-width: 960px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.logo{
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: #a5adb8;
			font: 700 30px 'Arial';
			position: absolute;
			top: 10px;

			&:first-letter{
				color: $red;
			}
		}
		p{
			color: #656f7a;
			font-size:12px;
			margin-top: 30px;
			font-weight: 700;


		}
		form {
			input{
				width: 200px;
				height: 35px;
				border-radius:5px;
				background-color: #24272d;
				border: 1px solid $red;			
				font-size: 14px;
				padding-left: 10px;
				color: $grey;			
			}
			button{
				background-color: $red;
				border: 0;
				border-radius: 10%;
				color: #fff;
				height: 34px;
				width: 34px;
				cursor: pointer;
			}
		}
	}
}
// HEADER END

// SLIDER START
section.slider{
	max-width:980px;
	position: relative;
	margin: 0 auto;
	.desc{
		position: absolute;
		top: 40px;
		left: 40px;
		color: #a5adb8;
		max-width: 480px;
		h2{
			color: #a5adb8;
			font: 700 30px 'Arial';
			line-height: .8;
			margin-bottom: 20px;
			&:first-letter{
				color: $red;
			}
			span{
				color: #282d33;
				font-size: 18px;
			}
		}
		.title{
			font-size: 18px;
			margin-bottom: 5px;
		}
		.text{
			font-size: 14px;
			color: #d9dcdf;
			line-height: 1.3;
		}
	}

}










