@import 'fonts';
@import 'variables';
*{
	box-sizing: border-box;
	outline: none;
}
h1,h2,h3,h4,h5,h6,
a{
	font-family: 'Arial';
}
p,li{
	font: 400 14px 'Arial';
	color: #5c646e;
}

h2{
	color: #a5adb8;
	font: 700 30px 'Arial';
	&:first-letter{
		color: $red;
	}
}
a{
	color: #95161f;
}

mark{
	background-color: #dedede;
}




.wrapper{
	background-color: #e4e1e7;
}
.container{
	max-width: 980px;
	margin: 0 auto;
}




// HEADER START
header{
	background: linear-gradient(to bottom, #373e49 0%,#262e36 100%);
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		position: relative;
		padding: 0 20px;
		.logo{
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: #a5adb8;
			font: 700 30px 'Arial';
			position: absolute;
			top: 10px;

			&:first-letter{
				color: $red;
			}
		}
		p{
			color: #656f7a;
			font-size:12px;
			margin-top: 30px;
			font-weight: 700;


		}
		form {
			input{
				width: 200px;
				height: 35px;
				border-radius:5px;
				background-color: #24272d;
				border: 1px solid $red;			
				font-size: 14px;
				padding-left: 10px;
				color: $grey;			
			}
			button{
				background-color: $red;
				border: 0;
				border-radius: 10%;
				color: #fff;
				height: 34px;
				width: 34px;
				cursor: pointer;
				&:hover{
					background-color: lighten(#95161f, 10%);
				}
			}
		}
	}
}
// HEADER END



//  SLIDER START
section.slider{
	height: 239px;
	position: relative;
	img{
		width: 100%;
	}

	.desc{
		position: absolute;
		top: 40px;
		left: 40px;
		max-width: 480px;
		h2{
			line-height: .8;
			margin-bottom: 20px;
			span{
				color: #282d33;
				font-size: 18px;
			}
		}
		.title{
			font-size: 18px;
			margin-bottom: 5px;
			color: #a5adb8;
			font-weight: 700;
		}
		.text{
			font-size: 14px;
			color: #d9dcdf;
			line-height: 1.3;
		}
	}
}
// SLIDER END



// MENU START
nav{
	background-color: #95161f;
	.menu{

		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 36px;
		flex-flow: row wrap;
		a{
			padding: 9px 25px;
			color: #fff;
			text-decoration:none;
			transition: all .2s;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 1px;
			&:hover{
				background-color: lighten(#95161f, 10%);
			}
		}
	}
}
// MENU END



// BREADCRUMS START
.product_breadcrumbs{
	background-color: #f3f3f3;
	.breadcrumbs{
		height: 25px;
		display: flex;
		flex-flow: row wrap;
		padding: 3px 0 0 25px;
		li{
			&:after{
				content:"/";
				font-size: 11px;	
			}
			&:last-child::after{
				content:"";
			}
			&:last-child a{
				color: #a5adb8;
				text-decoration: none;	
			}

			a{
				color: $red;
				font-size: 11px;
				padding: 0 3px;
			}
		}
	}
}
// BREADCRUMS END




// CONTENT START
	

section.content{
	padding-top: 20px; 
	display: flex;
	flex-flow: row wrap;
	background-color: #fff;

	//ASIDE START	
	aside{
		width: 235px;
		ul{
			border: 1px solid #d8dbde;
			padding: 15px 10px;
			margin-left: 20px;
			background-color: #f3f3f3;
			margin-bottom: 40px;
			li{
				margin-bottom: 15px;
				input,select{
					width: 195px;
					border: 1px solid #fff;
					background-color: #e3e4e5;
					padding: 8px 0 5px 10px;
					border-radius: 5px;
					color: #757575;
					cursor: pointer;

				}
				&:first-child p{
					font-weight: 600;
				}
				&:last-child input{
					border: 3px solid #fff;
					border-radius: 0px;
					width: 180px;
					background-color: #9d1a23;
					color: #fff;
					box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
					margin-bottom: -5px;
				}
				&:last-child input:hover{
					background-color: lighten(#9d1a23, 20%);
				}
			}
		}
		.news{
			padding-left: 20px;
			h6{
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			p,a{
				font-size: 12px;
				margin-bottom: 10px;
			}
		}	
	}
	//ASIDE END



	//ABOUT START
	.about{
		width: calc(100% - 235px);
		padding: 0 20px;
		h2{
			font-size:24px;
			margin-bottom: 10px;
		}
		p.text{
			margin-bottom: 10px;
		} 

		.items, .lists{
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 30px;

			.item{
				margin-right:15px;
				p{
					font-size:18px;
					font-weight: 600;
					margin-bottom: 10px;

				}
				img{
					width: 100%;
					border: 1px solid #fff;					
					box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
					&:hover{
						transform: scale(1.1,1.1);
					transition: all 0.5s;
					}
				}
			}
		}
		.lists{
			justify-content: space-between;
			ul.circle{
				list-style-type: disc;
				li{
				margin-left: 20px;
				}
			}
			ul.unstyle{
				list-style-type: none;
			}
			ul.numb{
				list-style-type: decimal;
				li{
				margin-left: 20px;
				}
			}
			p{
				color: #5c646e;
				font-weight: 600;
				margin-bottom: 5px;
			}
		}

	//TABLE FUCKING SHIT START
		.table {
			font-family: Arial, sans-serif;
			background-color: #282D33;
			width: 100%;
			height: 270px;
			border-radius: 10px;
			overflow: hidden;
			margin: 0 auto 60px;
			thead{
				background: #9C4757;
				tr{
					height: 30px;
				}
				th{
					font-size: 12px;
					font-weight: bold;
					color: #FFFFFF;
					text-align: center;
					vertical-align: middle;
					border: 1px solid #fff;
				}
			}
			tbody{
				tr{	
					&:hover{
						background-color: lighten(#282D33,20%);
					}
					td {
						font-size: 12px;
						color: #A5ADB8;
						padding: 0 5px 0 10px;
						border: 1px solid #fff;
						vertical-align: middle;
						a{
							color: #d08b98;
						}
					}
				}
			}
		}

		//MEDIAAAAAA 

		// @media screen and (max-width: 980px) {
			// 	table {
				// 		border: 0;
				// 	}

				// 	table thead {
					// 		display: none;
					// 	}

					// 	table tr {
						// 		margin-bottom: 10px;
						// 		display: block;
						// 		border-bottom: 2px solid #a0a0a0;
						// 	}

						// 	table td {
							// 		display: block;
							// 		text-align: right;
							// 		font-size: 13px;
							// 		border: 0;
							// 		border-bottom: 1px dotted #a0a0a0;
							// 		width: 100%;
							// 	}

							// 	table td:last-child {
								// 		border-bottom: 0;
								// 	}

								// 	table td:before {
									// 		content: attr(data-label);
									// 		float: left;
									// 		text-transform: uppercase;
									// 		font-weight: bold;
									// 		display: block;
									// 		padding: 0 8px;
									// 	}
									// }
	}
}

		//ABOUT END

	

	//FOOTER START

footer{
	background-color: #282D33;
	padding: 40px 0;
	position: relative;
	&::before{
		content:"";
		width: 100%;
		height: 10px;
		background-color: $red;
		position: absolute;
		top: 0;
	}
	.container{
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		h4{
			font-size: 18px;
			color: #a5adb8;
			margin-bottom: 20px;
			position: relative;

			&::after{
				content:"";
				width: 260px;
				height: 1px;
				background-color: #000;
				position: absolute;
				left: 0;
				top: 25px;
			}
			span{
				display: inline-block;
				text-transform: uppercase;
				&:first-letter{
					color: $red;
				}
			}
		}

		.hours{
			p{
				margin-bottom: 10px;
			}
			ul{
				list-style-image: url('../img/time.png');
				margin-left: 20px;
				li{
					padding: 2px 0;
				}
			}
		}
		.local{
			a{
				color: inherit;
				text-decoration: none;
			}
			li{
				margin-left: 5px;
				&::before{
					content:"• ";
					font-size: 20px;
					color: $red;
				}
			}
			p{
				font-size: 14px;
				font-weight: 600;
				color: #a5adb8;
				margin-top: 10px;
			}
		}
		.location{
			li{
				padding: 4px 0;
				a{
					color: $red;
				}
				.tel{
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
}

	//FOOTER END


